<div class="col-lg-4 col-sm-6 mb-4">
  <article class="card shadow">
    <a href="{{.Permalink}}" title="{{.Title }}" class="pic-c">
      {{$url := print .Permalink "/" .Params.Image}}
      {{ with .Resources.ByType "image" }}
              {{$firstimage := first 1 . }}
              {{$firstimage := index $firstimage 0}}
              {{$def := print $.Permalink "/" $firstimage}}
              <img src="{{$def}}" alt="{{$.Title}}" class="img-fluid rounded mb-4">
      {{end}}</a>
    <div class="card-body">
      <h4 class="card-title"><a class="text-dark" href="{{.Permalink}}">{{.Title }}</a>
      </h4>
      <p class="cars-text">{{.Summary}}</p>
      <a href="{{.Permalink}}" class="btn btn-sm btn-primary">Lire plus</a>
    </div>
  </article>
</div>